img {
	height: 16px;
}

body {
	margin-top: 20px;
	vertical-align: middle;
}

ul {
	margin: 10px !important;
}

.border-left {
	border-left: #555 solid 1px;
}

a:hover {
	text-decoration: none;
	color: #8a6d3b;
}